*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    color: black;
    padding: 20px;
}

nav.bar{
    display: flex;
    margin-left: 20px
    justify-content:center;
}
header ul{
    background-position: center;
    background-size: cover;
    list-style: none;
    margin: 10px;
    padding: 0;
    display: flex;
    align-items: right;
    justify-content: space-between;
}

header nav.bar li{
    margin-right: 40px;
}

header nav.bar li a{
    color: black;
    text-align: none;
}

main{
   padding: 20px;
   text-align: center;
}

p{
    color: grey;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    display: flex;
}

.zz{
    color: aqua;
}

.logo{
    width: 20px;}

. photo{
    border-radius: 20px;
    display: block;
    margin: 20px;
    align-items: center;
    justify-content: center;
    

}

b.center{
    background-color: aqua;
    padding: 20px 30px;
    border-radius: 30px;
    border: 0px;
    color: white;
    text-align: center;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: white;
    color:black;
    padding: 20px;
}

footer ul{
   display: flex;
   align-items: center;
   justify-content: center; 
   justify-content: space-between; 
}

footer ul li a{
    color: black;
    padding: 5px;
    color: grey;
}

footer ul li a i{
    width: 50px;
    color: black;
    height: 50px;
    line-height: 5opx;
    background-color: aqua;
    border-radius: 50%;
    text-align: top;
    display: flex;
    align-items: center;
    flex-direction: column;

}









